body {
    overflow: hidden;
}

#ThreeJS {
    position: absolute;
    left: 0px;
    top: 0px;
}

#hud {
    position: absolute;
    left:0px;
    top:0px;
    z-index:1000;
    color:white;
}

#username_div {
    color: white;
    margin-top: 35px;
}

#username_input {
    width: 100px;
    height: 30px;
    background-color:transparent;
    color:white;
    text-align: center;
    /*opacity: 0.4;*/
}

#play_again {
    color: white;
    display: block;
}

#play_again:hover {
    color: red;
    cursor: pointer;
}

.start_game {
    background-color: black;
    position: absolute;
    top:100px; left: 0;
    padding:0;
    width: 100%;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font: 40px Impact;
    font-weight: bold;
    opacity: 0.7;
    z-index: 99999;
    display:block;
}

#select_player img {
    border-bottom: 0;
}

#select_player img:hover {
    cursor: pointer;
    border-bottom: 4px black solid;
}

#robot_one {
    position: absolute;
    top: 200px; left: 100px;
    width: 200px;
}

#robot_two {
    position: absolute;
    top: 200px; right: 100px;
    width: 200px;
}

#background {

}
