body {
    overflow: hidden;
}

#ThreeJS {
    position: absolute;
    left: 0px;
    top: 0px;
}

#hud {
    position: absolute;
    left:0px;
    top:0px;
    z-index:1000;
    color:white;
}

#username_div {
    color: #ff9900;
    margin-top: 35px;
}

#username_input {
    width: 100px;
    height: 30px;
    background-color:transparent;
    color:white;
    text-align: center;
    /*opacity: 0.4;*/
}

#play_again {
    color: white;
    display: block;
}

#play_again:hover {
    color: red;
    cursor: pointer;
}

.start_game {
    background-color: black;
    position: absolute;
    top:60px; left: 0;
    padding:0;
    width: 100%;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font: 40px Impact;
    font-weight: bold;
    opacity: 0.7;
    z-index: 99999;
    display:block;
}

.choose_player {
    border-bottom: 0;
}

.choose_player:hover {
    cursor: pointer;
    border-bottom: 4px #ff9900 solid;
}

#robot_one {
    position: absolute;
    top: 200px;
    left: 100px;
    width: 350px;
}

#robot_two {
    position: absolute;
    top: 200px;
    right: 100px;
    width: 350px;
}

#logo_twentytab{
    position: relative;
    top: 200px;
}

#game_over{
    background-color: black;
    position: absolute;
    top:150px; left: 0;
    padding:0;
    width: 800px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font: 40px Impact;
    font-weight: bold;
    opacity: 0.7;
    z-index: 99999;
}

h2.loser{
    color: red;
}

h2.winner{
    color: green;
}

#arrows{
    position: absolute;
    bottom:250;
    right: 250;
    opacity: 0.7;
}

.arrow {
    position: inherit;
    width: 0;
    height: 0;
    border-style: solid;
}

#arrow-top {
    border-width: 0 37.5px 65.0px 37.5px;
    border-color: transparent transparent #000000 transparent;
}

#arrow-top:active {
    border-color: transparent transparent #ff9900 transparent;
    top: 1;
}

#arrow-bot {
    top: 141;
    border-width: 65.0px 37.5px 0 37.5px;
    border-color: #000000 transparent transparent transparent;
}

#arrow-bot:active {
    border-color: #ff9900 transparent transparent transparent;
    top: 142;
}

#arrow-right {
    left: 76;
    top: 66;
    border-width: 37.5px 0 37.5px 65.0px;
    border-color: transparent transparent transparent #000000;
}

#arrow-right:active {
    border-color: transparent transparent transparent #ff9900;
    top: 67;
}

#arrow-left {
    left: -67;
    top: 66;
    border-width: 37.5px 65.0px 37.5px 0;
    border-color: transparent #000000 transparent transparent;
}

#arrow-left:active {
    border-color: transparent #ff9900 transparent transparent;
    top: 67;
}

.zoom {
    width: 74px;
    height: 35px;
    line-height: 35px;
    background-color: black;
    position: inherit;
    color: white;
    text-align: center;
}

.zoom:active {
    background-color: #ff9900;
}

#zoom-in {
    top: 67;
}

#zoom-in:active{
    top:68;
}

#zoom-out {
    top:104;
}

#zoom-out:active{
    top:105;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#healthbar {
    border: solid 2px;
    position: absolute;
    top: 500;
    margin-left: calc(50% - 100px);
    /* Firefox */
    margin-left: -moz-calc(50% - 100px);
    /* WebKit */
    margin-left: -webkit-calc(50% - 100px);
    /* Opera */
    margin-left: -o-calc(50% - 100px);
    /* Standard */
    margin-left: calc(50% - 100px);
    height: 30px;
    width: 200px;
    background-color: black;
    z-index: 900;
    opacity: 0.4;
}

#health {
    z-index: 1000;
    height: 30px;
    width: 200px;
    background-color: red;
}
